root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{js,json,ts,tsx,yml,css}]
charset = utf-8
indent_style = space
indent_size = 2

[*.scss]
charset = utf-8
indent_style = tab
indent_size = unset
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.php]
charset = utf-8
indent_style = tab
